@font-face {
    font-family: myFirstFont;
    src: url(./Montserrat/Montserrat-VariableFont_wght.ttf);
  }

body{
    font-family: myFirstFont;
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.container{
  max-width: 1140px;
  width: 100%;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 77px;
  gap: 36px;
}

header imeg{
  width:128px;
  height:22px;
}

.header-text{
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.present{
  height: 840px;
  width: 100%;
  background-image: url(./imeg/helimain.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
 
}

.present-text{
  color: white;
  font-size: 40px;
  margin-left: 0px;
  
}

.present-Rectangle{
  background-image: url(./imeg/Rectangle\ 6.2.png);
  width: 224px;
  height: 96px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  gap: 17px;
  margin: 29px 0px;
 
}

.present-text-price{
  display: flex;
  flex-direction: column;
  
}

.present-text-price div:nth-child(1){
 color: white;
 font-weight: 400;
 font-size: 20px;
 line-height: 30px;
 padding: 0px;
}

.present-text-price div:nth-child(2){
  color: white;
  font-weight:800;
  font-size: 35px;
  line-height: 52px;
  padding: 0px;
 }
 .present-text-procent{
  color: white;
  font-size: 40px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0px 7px;
}

.present-button{
  color:white;
  font-size: 18px;
  background-color: transparent;
  border-style: none;
  border: 2px solid white;
  width:304px;
  height: 68px;
  border-radius: 3px;
  cursor: pointer;
  
}

.photosession{
  display: flex;
  flex-direction: row;
  gap: 140px;
  margin-top: 70px;
}

.photosession-position-width{
  width: 50%;
}

.photosession-text-1{
  color:#37373F;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 18px;
}

.photosession-text-2{
  color:#37373F;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 29px;
 }

 .photosession-icon-star{
  width: 118px; 
  height:17px;
 }

 .photosession-icon-position{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
  
 }

 .photosession-icon-text{
  color:#37373F;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  
 }

 .photosession-imeg{
  width: 554px;
  height: 374px;
  border-radius: 4px;
 }

 .photosession-border{
  border-top: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7;
  padding: 32px 0px;
  margin-right: -100px;
 }

 .photo{
  border-bottom: 1px solid #C7C7C7 ;
  padding-bottom: 27px;
 }

 .photo-text{
  color: #37373F;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 30px;
  margin-bottom: 37px;

 }

.photo-button-div{
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

 .photo-button{
  color:#5286EC;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border-style: none;
  width:188px;
  height: 19px;
  cursor: pointer;
 }

 .organaz{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #C7C7C7 ;
  padding-bottom: 51spx;
  
 }

 .organaz-text{
  width: 584px;
  color: #37373F;
  font-size: 16px;
 }

 .organaz-imeges{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 47px;
 }

 .organaz-text-button{
  color:#5286EC;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  background-color: transparent;
  border-style: none;
  width:126px;
  height: 19px;
  cursor: pointer;
  margin: 0px;
 }

 .organaz-imeges-text{
  text-align: center;
 }

 .organaz-imeges-button{
  color:#5286EC;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  background-color: transparent;
  border-style: none;
  width:290px;
  height: 43px;
  cursor: pointer;
 }

 .organaz-imeges-icon{
  position: relative;
  right: 70px;
  bottom: 100px;
 }

 .available-time{
  width: 770px;
  height: 485px;
  margin-top: 50px;
  border: 1px solid #C7C7C7;
  
 }

 .available-time-text{
  font-size: 20px;
  margin-bottom: 30px;
 }

 .available-time-date div:nth-child(1){
  padding-left: 30px;
 }
 
 .available-time-date{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  height: 74px;
  border-bottom: 1px solid #C7C7C7;
 }

 .available-time-date-button{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  border-style: none;
 }

 .available-time-hour-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 397px;
  border-bottom: 1px solid #C7C7C7;
  height: 130px;
 }

 .available-time-hour-button{
  color:orange;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  background-color: transparent;
  border: 1px solid orange;
  border-radius: 3px;
  width:129px;
  height: 50px;
  cursor: pointer;
 }

 .available-time-hour-1 div{
  padding-left: 30px;
 }

 .available-time-hour-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 397px;
  height: 130px;
 }

 .available-time-hour-2 div{
  padding-left: 30px;
 }

 .available-time-last-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 72px 0px 48px 30px;
  gap: 13px;
}

.map{
  width: 100%;
  height: 509px;
  margin-top: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coments-user{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  gap: 20px;
  margin-top: 50px;
}

.coments-text-width{
  width: 510px;
  border-bottom: 1px solid #C7C7C7;
}

.coments-name{
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 10px;
}

.coments-profession{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.coments-star{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  
}

.coments-text-shadow{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color:#B3B3B3;
}

.coments-text-date{
  margin-bottom: 35px;
}

.coments-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:#37373F;
  margin-bottom: 22px;
}

.coments-button{
  margin: 47px 0px;
}

.social{
  display: flex;
  flex-direction: row;
  gap: 671px;
  height: 100px;

}

.social-icons{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.social-icons-button{
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  background-color: transparent;
  cursor: pointer;
  border-style:none ;
}

footer{
  background-color: #FAF9F8;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
}

.fotter-content-position{
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 285px;
}

.footer-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 77px;
}


 @media screen and (max-width: 1100px){
  .header-imeg{
    width:64px;
    height:11px;
    
  }
  .container{
    gap: 80px;
  }

  .header-text{
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }

  .header{
    display: flex;
    height: auto;
    gap: 36px;
  }

  .photosession{
    display: flex;
    flex-direction:column;
    gap: auto;
    margin-top: 20px;
  }
  
 }